@tailwind base;
@tailwind components;
@tailwind utilities;

/* font config here */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');
@import url('@/assets/fonts/SF-Pro/stylesheet.css');

/* custom css here */
html, body, #__next {
  height: 100%;
  overflow: hidden;
  --primary: transparent;
  --secondary: transparent;
}

body{
  margin: 0;
  font-family:  theme('fontFamily.body');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0D1010;
  color: #606763;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: theme('fontFamily.heading');
}

h1 {
  font-size: theme('fontSize.heading-xl');
}
h2 {
  font-size: theme('fontSize.heading-lg');
}
h3 {
  font-size: theme('fontSize.heading-md');
}
h4 {
  font-size: theme('fontSize.heading-sm');
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--secondary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 8px;
}
